.container {
  min-height: 100vh;
  height: auto;
  justify-content: space-evenly;
}

.header {
  width: 100%;
  background-color: blue;
  text-align: center;
  color: white;
}

.count {
  border: solid;
  border-radius: 8px;
  border-color: blue;
  padding: 8px;
}

.buttonNotClicked {
  width: 100px;
  height: 25px;
  background-color: blue;
  color: white;
  border-radius: 16px;
  border: none;
}
.buttonNotClicked:hover {
  cursor:pointer;
}

.buttonClicked {
  width: 100px;
  height: 25px;
  background-color: grey;
  color: black;
  border-radius: 16px;
  border: none;
}
.buttonClicked:hover {
  cursor:not-allowed;
}

img {
  height: 100px;
}
img:hover {
  cursor:pointer;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}