<div class="container">
  <div class="header">
    <h1>May is mental health awareness month.</h1>
  </div>
  <div>
    <h3>Click the image to donate to the American Foundation for Suicide Prevention!</h3>
    <img src="../../assets/afsp_logo.png" (click)="onClickImage()" />
  </div>
  <div class="count">
    <h2>{{ donations }}</h2>
    <p>people have donated!</p>
  </div>
  <div>
    <p>Did you donate?</p>
    <button [ngClass]="{'buttonNotClicked':!clicked, 'buttonClicked':clicked}" (click)="onClickButton()" [disabled]="clicked">YES!</button>
  </div>
</div>